*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;

}

body{
    background-color: black;
}

section{
  display: flex;
  flex-direction: row;
}
.menu-navegacion{
    border: 1px solid rgb(0,0,0);
    width: 20%;
    height: 100vh;
    float: left;
    padding-left: 50px;
    padding-top: 40px;
    background-color: rgb(46,42,42);
    list-style: none;
}
 .menu-navegacion li ul a{
    font-size: 15px;
    line-height: 10px;
    text-decoration: none;
    color: rgb(255,255,255);
 }
 .menu-navegacion li ul a:hover{
    color: rgb(220,220,220);
 }

 .container{
    padding-top: 45px;
    color:floralwhite;
    height: 25vh;
    display: block;
 }

 .container h2{
     font-size: 40px;
     margin-left: 13%;
     margin-right: 13%;
 }
 .container p{
     font-size: 25px;
     margin-left: 13%;
     margin-right: 13%;
 }

 .general{
     flex-flow: column;
     width: 80%;
 }
 
 .amarillo{
     background-color:yellow;
 }
 .rojo{
     background-color: red;
 }
 .naranjo{
     background-color: orange;
 }
 .celeste{
     background-color:cyan;
 }
